<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action="/game/new" method="post">
        <label for="name">Game Name:</label>
        <input type="text" name="name" id="name">

        <label for="link">Game Link:</label>
        <input type="text" name="link" id="Link">

        <label for="creater">creater Name:</label>
        <input type="text" name="creater" id="creater">


        <button type="submit">Create Game</button>
    </form>
</body>
</html>