<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1 style="text-align: center;"> <%=foundGame.name %></h1>
    <!-- <iframe style="height: 800px;width:700px;" src="<%=foundGame.link%>" ></iframe>  -->
    <iframe src="<%=foundGame.link%>" allowfullscreen ></iframe> 
    
    

</body>
</html>