<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    <h1>All Games</h1>
    <% AllGames.forEach(game => { %>
     <p>Game name <%= game.name %></p>
     <p>user: <%= game.user %></p>
     <a href="game.link">link to the game</a>\
     <p>raitting: <%= game.raitting %></p>
    <% }) %>
</body>
</html>