
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
             body{
                display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */
            min-height: 100vh;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
            background: #020024;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
       }
       a{
        color: #ab3aa9;
        color: radial-gradient(circle,rgba(171, 58, 169, 1) 0%, rgba(207, 131, 45, 1) 100%);
        font-size: large;
        margin: 10px;    }
        #Aformake{
            color: aqua;
        }
    </style>
</head>
<body>  
    <h1>HOME</h1>  <a href="/game/new" id="Aformake"> add new game</a> 
    <% allGames.forEach(game => { %>
        <div >
         <a href="/game/<%= game._id %>"><%= game.name %></a>
        </div>
    <% }) %>
</body>
</html>