<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> body{
                display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */
            min-height: 100vh;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
            background: #020024;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
       } input {
            border: 1px solid #871976;
            padding: 8px;
            border-radius: 4px;
            /* background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 0, 36, 1) 100%); */
        background: #413fa6;
background: linear-gradient(90deg, rgba(65, 63, 166, 1) 0%, rgba(57, 57, 150, 1) 35%, rgba(0, 212, 255, 1) 100%);}
button {
            background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 0, 36, 1) 100%);
            color: #ccc;
}
       </style>
</head>
<body>
    
    <h1>Add New Game</h1>

    <form action="/game/new" method="post">
        <label for="name">Game Name:</label>
        <input type="text" name="name" id="name">

        
        <label for="link">Game Link:</label>
        <input type="text" name="link" id="Link">

<!-- 
        <label for="width">width of the game</label>
        <input type="number" name="width" id="width">


        <label for="height">height of the game:</label>
        <input type="text" name="height" id="height">
         -->
        <button type="submit">Create Game</button>
    </form>
</body>
</html>