<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Add New Game</h1>

    <form action="/user" method="post">
        <label for="name">Game Name:</label>
        <input type="text" name="name" id="name">

        <label for="Link">Game Link:</label>
        <input type="text" name="Link" id="Link">

        <label for="user">user Name:</label>
        <input type="text" name="user" id="user">

        <button type="submit">Create Game</button>
    </form>
</body>
</html>